.health-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 98%;
    margin-left: 1px;
}
.current-health-bar {
    background-color: green;
    height: 10px;
}
.lost-health-bar {
    background-color: red;
    height: 10px;
}