.tile {
    background-color: green;
    // background-image: url("/src/assets/orcishWarlord.png");
    height: 58px;
    width: 58px;
    margin: 1px;
    border-color: aqua;
    border-width: 1px;
    // position: relative;
}

.tile.selected{
    background-color: aqua;
}

.character {
    // background-image: url("/assets/img/orcishWarlord.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    // transform:scaleX(-1);
}

.orcishWarlord {
    background-image: url("/assets/img/orcishWarlord.png");
}

.saurianAmbusher {
    background-image: url("/assets/img/saurianAmbusher.png");
}

.invert {
    transform:scaleX(-1);
}